{% extends 'base.html.twig' %}

{% block title %}Producteur{% endblock %}

{% block body %}
    <h1>Producteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ producteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ producteur.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ producteur.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ producteur.mail }}</td>
            </tr>
        </tbody>
    </table>
    {% include "include/retour.html.twig" %}
{% endblock %}
