<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    #info{
        font-family: 'Bebas Neue', cursive;
    }
  </style> 


  <script>
    function initMap() {
    const lycée = { lat: 42.69276266087135, lng: 2.909845647650987 };

      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: lycée,
        //permet de cacher les boutons "Satellite" et "Plan"
        mapTypeControl: false,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.VERTICAL_BAR,
            position: google.maps.ControlPosition.TOP_RIGHT
        },
        
      });

      {% for liste in listeLieux %}
          {% if liste.annonce != NULL %}
            var marker = new google.maps.Marker({
              position: { lat: {{ liste.cooX }} , lng: {{liste.cooY}} },
              map: map,
            }); 
            attachSecretMessage(marker, '{% for annonce in liste.annonce %} {{ annonce.libelle }} <br> <button><a href="{{ path("panierAjout", {"id": annonce.id}) }}">Ajouter {{ annonce.libelle }}</a></button> <br>{% endfor %}');
        {% endif %}
      {% endfor %}
      
      function attachSecretMessage(marker, secretMessage) {
      const infowindow = new google.maps.InfoWindow({
        content: secretMessage,
      });

      marker.addListener("click", () => {
        infowindow.open(marker.get("map"), marker);
      });
}
      
    }
  </script>