{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


{% include "include/maps.html.twig" %}
{% include "include/mainPage.html.twig" %}

  {# "Pop-up" de gauche #}
  <div class="z-50 bg-yellow-200 rounded-r-lg w-4/12 h-full left-0 absolute ">
      {# Bouton Gestion de compte #}
      <div> 
        <a href="{{ path('producteur_show',{'id':app.user.id}) }}">
          <button class="z-50 bg-yellow-900 w-20 h-20 left-10 absolute top-60 mr-16 border-yellow-900 border-4 border-opacity-25" onclick="{{ path('producteur_show',{'id':app.user.id}) }}"><i class="">test</i></button>
        </a>
      </div>
      
      {# Image de profil #}
      {% set foo = random(6) %}
      <div class="left-5  mt-15 mr-20 relative flex flex-row ">
          <img class="z-50 rounded-full relative w-48 h-40 mt-4 " src="{{ asset('image/' ~ foo ~ '.png') }}" alt="">
          {# Information de l'utilisateur #}
            <div class="text-2xl  ml-8 relative">
            <p class="mt-4" id="info">Nom : {{app.user.nom}}</p>
            <p class="mt-4" id="info">Prenom : {{app.user.prenom}}</p>
            <p class="mt-4" id="info">Email : {{app.user.mail}}</p>
            <p class="mt-4" id="info">Tel : {{app.user.tel}}</p>
        </div>
      </div>

      <div>
        {# Bouton pour ajouter #}
        <a href="{{ path('annonce_new') }}">
          <button class="z-50 bg-yellow-900 w-20 h-20 right-10 absolute bottom-4 mr-16 rounded-full border-yellow-900 border-4 border-opacity-25" onclick="{{ path('annonce_new') }}"><i class="">test</i></button>
        </a>
      </div>
  </div>

  {# Map google #}
  <div class=" h-screen w-9/12 right-0 absolute">
    <div id="map" class="z-20 w-full h-full"></div>
  </div>


  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5t3C0OHeTuknC62DdKqOeqNPhMAhdITU&callback=initMap&libraries=&v=weekly"
    async>
  </script>
    
{% endblock %}
