{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "include/maps.html.twig" %}
      {# Style panel producteur gauche #}
      <style>
      .shadow{
        box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
-webkit-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
-moz-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
      }
    </style>

    {# Pastille de statut #}
    <style>
      .statutvert{
        color:green;
      }
      .statutrouge{
        color:red;
      }
    </style>
    
    <div>
      {# Bouton panier #}
      <a href="{{ path('login_security') }}">
        <button class="rotate z-50 bg-yellow-200 w-20 h-20 absolute top-0 right-0 absolute mt-16 mr-32 rounded-full border-yellow-900 border-4 border-opacity-25"><i class="fas fa-shopping-basket fa-3x"></i><a href="{{ path('login_security') }}"></a></button>
      </a>
    </div>
    
    <div>
      {# Bouton pour filtre #}
      <a href="{{ path('login_security') }}">
        <button class="rotate z-50 bg-yellow-200 w-20 h-20 top-0 right-0 absolute mt-16 mr-8 rounded-full border-yellow-900 border-4 border-opacity-25" onclick="{{ path('login_security') }}"><i class="fas fa-filter fa-2x mt-2 mr-0"></i></button>
      </a>
    </div>
    
    

    {# Panel de gauche #}
    <div class="z-30 w-4/12 h-screen  shadow mx-auto rounded-2xl bg-gray-50 absolute">
      
        <div class="z-20 flex ml-8 ">
               <div class="z-10 absolute left-0" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-51.91,155.90 C213.85,138.09 -32.20,2.54 461.60,-13.29 L190.77,-108.28 L-14.18,-33.08 Z" style="stroke: none; fill: #fde68a;"></path></svg></div>
   
              {# Colonne Bouton IMAGE/TEXT #}
                      
              <div class="flex-col ml-5">          
                {# Image de profil #}
                {% set foo = random(6) %}
                
                  <div class="ml-10 mr-20 relative  flex-auto   ">
                    <img class="z-30  rounded-full relative w-48 h-32 mt-4 " src="{{ asset('image/' ~ foo ~ '.png') }}" alt="">
                    {# Information de l'utilisateur #}
                    <div class="rounded-lg text-2xl rounded-3xl  ml-8 mt-2 relative w-full h-32 ">
                      <p class="" id="info">Nom : {{app.user.nom}}</p>
                      <p class="" id="info">Prenom : {{app.user.prenom}}</p>
                      {# <p class="mt-4" id="info">Email : {{app.user.mail}}</p>
                      <p class="mt-4" id="info">Tel : {{app.user.tel}}</p> #}
                    </div>
                  </div>
              </div>

              {# Colonne Bouton GESTION/PANEL #}

              <div class="flex-col mt-2">
                  <div class="mb-12" >
                    {# Bouton Gestion de compte #}
                    <a href="{{ path('producteur_show',{'id':app.user.id}) }}">
                      <button class="z-30  w-5/6 h-16 shadow-2xl  bg-yellow-200  rounded-2xl relative top-6 mr-16 ml-4 text-lg font-sans font-bold" onclick="{{ path('producteur_show',{'id':app.user.id}) }}"><i class="">Gestion de Compte</i></button>
                    </a>
                  </div>

                  <div>
                    {# Bouton Panel Admin #}
                    <a href="{{ path('producteur_show',{'id':app.user.id}) }}">
                      <button class="z-30 w-5/6 h-16 shadow-2xl  bg-yellow-200  rounded-2xl relative top-6 mr-16 ml-4 text-lg font-sans font-bold" onclick="{{ path('producteur_show',{'id':app.user.id}) }}"><i class="">Panel Admin</i></button>
                    </a>
                  </div>
              </div>

            {# Ligne des Bouton Ajout Annonce et Déconnexion #}
              <div class="flex"> 
                <div>
                  {# Bouton pour ajouter un lieu #}
                  <a href="{{ path('lieu_new') }}">
                    <button class="z-50 bg-yellow-200 w-2/6 h-16  absolute left-64 bottom-4  rounded-2xl border-yellow-900 text-lg font-sans font-bold " onclick="{{ path('lieu_new') }}"><i class="">Ajouter un Lieu</i></button>
                  </a>
                </div> 
                <div>
                  {# Bouton pour ajouter une annonce #}
                  <a href="{{ path('annonce_new') }}">
                    <button class="z-50 bg-yellow-200 w-2/6 h-16  absolute left-4 bottom-4  rounded-2xl border-yellow-900 text-lg font-sans font-bold " onclick="{{ path('annonce_new') }}"><i class="">Ajouter une Annonce</i></button>
                  </a>
                </div>

                <div>
                  {# Bouton pour déconnecter #}
                  <a href="{{ path('logout_security') }}">
                    <button class="rotate z-50 bg-yellow-200 w-20 h-20  absolute right-4 bottom-4  rounded-full border-yellow-900 border-4 border-opacity-25" onclick="{{ path('logout_security') }}"><i class="fas fa-sign-out fa-3x mr-0"></i></button>
                  </a>
                </div>
              </div>  
            
        </div>  
          {# Ligne Séparation Info / Listes des annonces#}
            <div class="z-30 w-80 h-px  bg-black relative mx-auto"></div>
              
              {# Tableau des annonces #}
              <table width="100%">
                <tr>
                 <td>Nom</td>
                 <td colspan="1">Date</td>
                 <td>Statut</td>
                 <td>Détail</td>
                </tr>
                {% for annonce in tableauAnnonce %}
                <tr>
                 <td rowspan="2" class="border border-yellow-900">{{ annonce.libelle}}</td>
                 <td class="border border-yellow-900">{{ annonce.cDebut | date('d/m H:i') }}</td>
                 <td rowspan="2" class="border border-yellow-900 w-2/12">
                   {% if annonce.status == "pasEnLigne" %}
                    <i class="fas fa-circle statutvert "  ></i>
                   {% else %}
                    <i class="fas fa-circle statutrouge">Hors ligne</i>
                 {% endif %}
                </td>
                <td  rowspan="2" class="border border-yellow-900" >
                  <a href="{{ path('annonce_edit',{'id':annonce.id}) }}">
                    <button name="detailAnnonce" class="flex bg-yellow-300 mx-auto p-2 w-4/6 rounded-lg " id="detailAnnonce" onclick="{{ path('annonce_edit',{'id':annonce.id}) }}"><i class="flex mx-auto">Détail</i></button>
                  </a>
                </td>
                </tr>
               
                <tr>
                  <td class="border border-yellow-900">{{ annonce.cFin | date('d/m H:i') }}</td>
                </tr>
                {% endfor %}
               </table>
          </div>
    </div>


    {# Map google #}
    <div class=" h-screen w-9/12 right-0 absolute">
      <div id="map" class="z-20 w-full h-full"></div>
    </div>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5t3C0OHeTuknC62DdKqOeqNPhMAhdITU&callback=initMap&libraries=&v=weekly"
      async>
    </script>

<style>
  .rotate:hover{
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
</style>
{% endblock %}
