{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>CreneauxDebut</th>
                <td>{{ annonce.creneauxDebut ? annonce.creneauxDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreneauxFin</th>
                <td>{{ annonce.creneauxFin ? annonce.creneauxFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LibelleProduit</th>
                <td>{{ annonce.libelleProduit }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ annonce.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ annonce.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonce_index') }}">back to list</a>

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
